link(rel='stylesheet', href='imdb/css/stylesheets/bootstrap.css')
link(rel='stylesheet', href='imdb/css/stylesheets/responsive.css')
link(rel='stylesheet', href='imdb/css/stylesheets/font-awesome.css')
link(rel='stylesheet', href='imdb/css/stylesheets/screen.css')
script(src='imdb/jq.js')
script(src='imdb/commons.js')
script(src="imdb/bootstrap-modal.js")
