div
  input(type="text", placeholder="Search...")#searcher
  #progresser.well
    div
      i.icon-cloud
    p Doing cloud computing
    div
      span#currentprogress
      span  out of 
      span#totalprogress
      span  done
    .progress.progress-striped.active
      div.bar
